@font-face {
    font-family: ProximaNova;
    src: url(/content/dam/uobtmrw/images/indonesia/ramadan2022/ProximaNovaFont.otf);
}

body {
    font-family: ProximaNova;
}

.img-pointer{
    cursor: pointer;
}

a.howtoapplysection {
    border-radius: 50px;
    border-color:transparent !important;
    font-weight: 700 !important;
}

.mobile-togglemenu .btn{
    border-radius: 50px;    
}    

.font-blue {
    color: #23e0de;
}
.font-white {
    color: #ffff;
}
.footer-separator {
    background-color: #23e0de;
    height: 5px;
}
.bg-black {
    background-color: #222222;
}
.fs-12 {
    font-size: 1.1rem;
}
.fs-14 {
    font-size: 2rem;
}
.bg-counter-double {
    font-size: 7px;
}
.bg-counter-triple {
    font-size: 5px;
}
.bg-counter {
    background-image: linear-gradient(to right, #ff00a2ed, #f2ff00ba);
    border-radius: 10px;
    font-size: 10px;
    color: white;
}
.counter-text{
    font-size:120%;
}
.rad-5 {
    border-radius: 50px;
}
.content-4 {
    width: 40%;
}
/* PROGRESS BAR */
.progress-text{
    font-size: 1.2rem;
}
.indicator-bar {
    background-color: #23e0de;
    width: 35%;
    position: absolute;
    height: 100%;
    border-top-left-radius: 13px;
    border-bottom-left-radius: 13px;
}
.indicator-text{
    font-size: 1rem;
}
.rounded-indicator {
    color: black;
    border: solid 2px #ffca18;
    padding: 9px;
    z-index: 2;
    background-color: #ffca18;
}
.rounded-indicator-end {
    color: black;
    border: solid 2px #ffca18;
    background-color: #ffca18;
    padding: 5px;
    font-size: 12px;
    /* height: auto; */
    position: absolute;
    right: 0;
}
/*  */
.bg-gray-white {
    background-color: #ffffff54;
    border-radius: 25px;
}
.mx-width-40 {
    width: 40% !important;
    word-break: break-all;
}
.text-section {
    background-color: #f8ab2d;
    color: white;
    font-size: 1.3rem;
    font-weight: bolder;
    padding: 2rem;
}
.section1 {
    background-image: linear-gradient(to right, #ffca18, #23e0de);
    position: relative;
    overflow: hidden;
}

.confetti{
    left:0;
    top:0;
}

.lantern1 {
    width: 7%;
    left: -2%;
    top: -100%;
}
.cloud1 {
    width: 10%;
    left: -2%;
}
.star1 {
    width: 2%;
    left: 3%;
    top: 50%;
}

.lantern2 {
    width: 7%;
    right: 0%;
    bottom: 5%;
    right: -4%;
}
.cloud2 {
    width: 10%;
    right: -4%;
    bottom: 30%;
}
.star2 {
    width: 2%;
    right: 2%;
    top: 56%;
}
/* PART 2 */
.part2 .lantern1 {
    width: 7%;
    left: -2%;
    top: -150%;
}
.part2 .cloud1 {
    width: 10%;
    top: 20%;
    left: -2%;
}
.part2 .star1 {
    width: 2%;
    left: 3%;
    top: 50%;
}

.part2 .lantern2 {
    width: 7%;
    right: 0%;
    bottom: 5%;
    right: -4%;
}
.part2 .cloud2 {
    width: 10%;
    right: -4%;
    bottom: 40%;
}
.part2 .star2 {
    width: 2%;
    right: 3%;
    top: 80%;
}
/* PART 3 */
.part3 .lantern1 {
    width: 10%;
    top: -150%;
}
.part3 .cloud1 {
    width: 10%;
    top: 10%;
    left: 10%;
}
.part3 .cloud3 {
    width: 10%;
    top: 40%;
    left: 15%;
}
.part3 .cloud4 {
    width: 10%;
    top: 70%;
    left: 10%;
}

.part3 .star1 {
    width: 2%;
    left: 15%;
    top: 20%;
}
.part3 .star3 {
    width: 2%;
    left: 25%;
    top: 50%;
}
.part3 .star4 {
    width: 2%;
    left: 5%;
    top: 80%;
}

.part3 .lantern2 {
    width: 7%;
    right: 0%;
    bottom: 5%;
    right: 0;
}
.part3 .cloud2 {
    width: 10%;
    right: 15%;
    bottom: 40%;
}
.part3 .cloud5 {
    width: 10%;
    right: 5%;
    top: 30%;
}
.part3 .cloud6 {
    width: 10%;
    right: 15%;
    top: 20%;
}
.part3 .star2 {
    width: 2%;
    right: 15%;
    top: 60%;
}
.part3 .star5 {
    width: 2%;
    right: 10%;
    top: 40%;
}
.part3 .star6 {
    width: 2%;
    right: 20%;
    top: 10%;
}

/* PART 4 */
.part4 .lantern1 {
    width: 5%;
    top: -40%;
    left: 20%;
    bottom: 0;
}
.part4 .cloud1 {
    width: 10%;
    top: 20%;
    left: 20%;
}
.part4 .star1 {
    width: 2%;
    left: 20%;
    top: 50%;
}

.part4 .lantern2 {
    width: 5%;
    bottom: 5%;
    right: 20%;
}
.part4 .cloud2 {
    width: 10%;
    right: 20%;
    bottom: 40%;
}
.part4 .star2 {
    width: 2%;
    right: 24%;
    top: 70%;
}

/* PART 5 */
.part5 .lantern1 {
    width: 5%;
    top: -20%;
    left: 20%;
    bottom: 0;
}
.part5 .cloud1 {
    width: 10%;
    top: 50%;
    left: 20%;
}
.part5 .star1 {
    width: 2%;
    left: 20%;
    top: 70%;
}

.part5 .lantern2 {
    width: 5%;
    bottom: 70%;
    right: 20%;
}
.part5 .cloud2 {
    width: 10%;
    right: 20%;
    bottom: 60%;
}
.part5 .star2 {
    width: 2%;
    right: 26%;
    top: 20%;
}

/* PART 6 */
.part6 .lantern1 {
    width: 10%;
    top: -100%;
    left: -5%;
    bottom: 0;
}
.part6 .cloud1 {
    width: 10%;
    top: 60%;
    left: 2%;
}
.part6 .star1 {
    width: 6%;
    left: -1%;
    top: 70%;
}

.part6 .lantern2 {
    width: 8%;
    bottom: 70%;
    right: -5%;
}
.part6 .cloud2 {
    width: 20%;
    right: -12%;
    bottom: 50%;
}
.part6 .star2 {
    width: 5%;
    right: 5%;
    top: 60%;
}

.img-85 {
    width: 85%;
}

.section2 {
    background-image: url(/content/dam/uobtmrw/images/indonesia/ramadan2022/bg1b.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.img-camera {
    margin: 2rem;
    margin-top: 0.8rem;
    margin-bottom: 0px;
}
.img-tmrw {
    margin: 0.8rem;
    margin-bottom: 0px;
}
.card-column {
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 0px;
}

.button-responsive{
    width: 75%;
}


.btn-width {
    width: 60%;
}
.res-max-width {
    max-width: 50%;
}
.main {
    z-index: 9999999;
}
.blur {
    filter: brightness(0.5);
}
.left1 {
    left: 40%;
    z-index: 1;
    width: 28%;
}
.left2 {
    left: 43%;
    z-index: 0;
    width: 27%;
}
.right1 {
    right: 40%;
    z-index: 0;
    filter: brightness(0.5);
    width: 28%;
}

.carousel3 {
    padding: 0 10vw;
    width: 55%;
}

.carousel5 {
    padding: 0 10vw;
    max-width: 55%;
}

.carousel-control-prev{
    left:7%;
}

.carousel-control-next{
    right:7%;
}
/*  */

.carousel-control-prev-icon{
    background-image: url(/content/dam/uobtmrw/images/indonesia/ramadan2022/arrow-kiri.png);
}

.carousel-control-next-icon{
    background-image: url(/content/dam/uobtmrw/images/indonesia/ramadan2022/arrow-kanan.png);
}

.modal-width{
    max-width: 60% !important;
}

@media only screen and (max-width: 576px) {
    .res-mobile {
        width: 60%;
    }
    .res-mobile-bottom{
        width: 60%;
    }
    .res-mobile-35 {
        width: 80%;
    }
    .res-max-width {
        max-width: 100%;
    }
    /* PROGRESS BAR */
    .progress-text{
        font-size:1rem;
    }
    /* MOBILE */
    .indicator-bar {
        background-color: #23e0de;
        width: 35%;
        position: absolute;
        height: 100%;
        border-top-left-radius: 13px;
        border-bottom-left-radius: 13px;
    }
    .indicator-text{
        font-size: 1rem;
    }
    .rounded-indicator {
        color: black;
        border: solid 2px #ffca18;
        padding: 9px;
        z-index: 2;
        background-color: #ffca18;
    }
    .rounded-indicator-end {
        color: black;
        border: solid 2px #ffca18;
        background-color: #ffca18;
        padding: 7px;
        font-size: 12px;
        position: absolute;
        right: 0;
    }
    .carousel-control-prev{
        left:0%;
    }
    
    .carousel-control-next{
        right:0%;
    }
    /*  */
    .fs-12 {
        font-size: 1rem;
    }
    .fs-14 {
        font-size: 1.4rem;
    }
    .carousel3 {
        width: 95%;
    }
    .carousel5 {
        padding: 0;
        max-width: 95%;
    }
    .img-85 {
        width: 100%;
    }

    .confetti{
        width: 100%;
    }
    .confetti.part1{
        top:25%;

    }
    .confetti.part2{
        top:50%;
    }
    .confetti.part3{
        top:75%;
    }
    .lantern1 {
        width: 15%;
        left: 10%;
        top: -60%;
        left: -2%;
    }
    .cloud1 {
        width: 20%;
        left: -4%;
    }
    .star1 {
        left: 8%;
        width: 5%;
        top: 14%;
    }

    .lantern2 {
        width: 15%;
        right: 0%;
        bottom: 5%;
        right: -4%;
    }
    .cloud2 {
        width: 15%;
        right: -4%;
        bottom: 20%;
    }
    .star2 {
        width: 10%;
        right: -5%;
        bottom: 0;
    }

    .content-4 {
        width: 90%;
    }

    /* PART 2 */
    .part2 .lantern1 {
        width: 15%;
        left: -1%;
        top: 0;
    }
    .part2 .cloud1 {
        width: 20%;
        top: 20%;
        left: -4%;
    }
    .part2 .star1 {
        width: 8%;
        left: 7%;
        top: 25%;
    }

    .part2 .lantern2 {
        width: 15%;
        right: 0%;
        bottom: 5%;
        right: -4%;
    }
    .part2 .cloud2 {
        width: 20%;
        right: -5%;
        bottom: 40%;
    }
    .part2 .star2 {
        width: 8%;
        right: 3%;
        top: 50%;
    }

    /* PART 3 */
    .part3 .lantern1 {
        width: 15%;
        top: -60%;
    }
    .part3 .cloud1 {
        width: 15%;
        top: 10%;
        left: 10%;
    }
    .part3 .cloud3 {
        width: 15%;
        top: 40%;
        left: -3%;
    }
    .part3 .cloud4 {
        width: 15%;
        top: 70%;
        left: 10%;
    }

    .part3 .star1 {
        width: 5%;
        left: 15%;
        top: 20%;
    }
    .part3 .star3 {
        width: 5%;
        left: 10%;
        top: 30%;
    }
    .part3 .star4 {
        width: 5%;
        left: 5%;
        top: 50%;
    }

    .part3 .lantern2 {
        width: 15%;
        right: 0%;
        bottom: 35%;
        right: 0;
    }
    .part3 .cloud2 {
        width: 15%;
        right: 15%;
        bottom: 20%;
    }
    .part3 .cloud5 {
        width: 15%;
        right: 5%;
        top: 30%;
    }
    .part3 .cloud6 {
        width: 15%;
        right: 15%;
        top: 20%;
    }
    .part3 .star2 {
        width: 5%;
        right: 15%;
        top: 70%;
    }
    .part3 .star5 {
        width: 5%;
        right: 10%;
        top: 40%;
    }
    .part3 .star6 {
        width: 5%;
        right: 18%;
        top: 10%;
    }

    /* PART 4 */
    .part4 .lantern1 {
        width: 15%;
        top: -50%;
        left: -3%;
        bottom: 0;
    }
    .part4 .cloud1 {
        width: 20%;
        top: 74%;
        left: 0%;
    }
    .part4 .star1 {
        width: 5%;
        left: 5%;
        top: 85%;
    }

    .part4 .lantern2 {
        width: 15%;
        bottom: 85%;
        right: -5%;
    }
    .part4 .cloud2 {
        width: 20%;
        right: -4%;
        bottom: 40%;
    }
    .part4 .star2 {
        width: 5%;
        right: 5%;
        top: 30%;
    }

    /* PART 5 */
    .part5 .lantern1 {
        width: 15%;
        top: -100%;
        left: -5%;
        bottom: 0;
    }
    .part5 .cloud1 {
        width: 15%;
        top: 55%;
        left: 4%;
    }
    .part5 .star1 {
        width: 5%;
        left: 2%;
        top: 70%;
    }

    .part5 .lantern2 {
        width: 15%;
        bottom: 0%;
        right: -3%;
    }
    .part5 .cloud2 {
        width: 20%;
        right: 0%;
        bottom: 60%;
    }
    .part5 .star2 {
        width: 5%;
        right: 2%;
        top: 20%;
    }

    /* PART 6 */
    .part6 .lantern1 {
        width: 15%;
        top: -70%;
        left: -5%;
        bottom: 0;
    }
    .part6 .cloud1 {
        width: 20%;
        top: 55%;
        left: 4%;
    }
    .part6 .star1 {
        width: 5%;
        left: 2%;
        top: 70%;
    }

    .part6 .lantern2 {
        width: 15%;
        bottom: 0%;
        right: -3%;
    }
    .part6 .cloud2 {
        width: 20%;
        right: 0%;
        bottom: 60%;
    }
    .part6 .star2 {
        width: 5%;
        right: 2%;
        top: 20%;
    }
    .modal-padding{
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
    .modal-width{
        max-width: 100% !important;
    }    
}
.w-100 {
    width: 100%;
}