@font-face {
    font-family: ProximaNova;
    src: url(../assets/ProximaNovaFont.otf);
}

body {
    font-family: ProximaNova;
    /* margin: 0px; */
    /* background-image: url(../assets/bgsec2.png); */
}
.font-blue {
    color: #23e0de;
}
.font-white {
    color: #ffff;
}
.footer-separator {
    background-color: #23e0de;
    height: 5px;
}
.bg-black {
    background-color: #222222;
}
.fs-12 {
    font-size: 100%;
}
.fs-14 {
    font-size: 2rem;
}
.bg-counter-double {
    font-size: 7px;
}
.bg-counter-triple {
    font-size: 5px;
}
.bg-counter {
    background-image: linear-gradient(to right, #ff00a2ed, #f2ff00ba);
    border-radius: 10px;
    font-size: 10px;
    color: white;
}
.rad-5 {
    border-radius: 50px;
}
.content-4 {
    width: 40%;
}
.indicator-bar {
    background-color: #23e0de;
    /* width: 20%; */
    position: absolute;
    height: 28px;
    border-top-left-radius: 13px;
    border-bottom-left-radius: 13px;
}
.rounded-indicator {
    color: black;
    border: solid 2px #23e0de;
    padding: 9px;
    z-index: 2;
    /* margin-left: 15%; */
    background-color: white;
}
.rounded-indicator-end {
    color: white;
    border: solid 2px white;
    background-color: #23e0de;
    padding: 5px;
    position: absolute;
    right: 0;
}
.bg-gray-white {
    background-color: #ffffff54;
    border-radius: 25px;
}
.mx-width-40 {
    max-width: 40% !important;
}
.text-section {
    background-color: #f8ab2d;
    color: white;
    font-size: 1.3rem;
    font-weight: bolder;
    padding: 2rem;
}
.section1 {
    background-image: linear-gradient(to right, #ffca18, #23e0de);
    position: relative;
    overflow: hidden;
}

.lantern1 {
    width: 7%;
    left: -2%;
    top: -100%;
}
.cloud1 {
    width: 10%;
    left: -2%;
}
.star1 {
    width: 2%;
    left: 3%;
    top: 50%;
}

.lantern2 {
    width: 7%;
    right: 0%;
    bottom: 5%;
    right: -4%;
}
.cloud2 {
    width: 10%;
    right: -4%;
    bottom: 30%;
}
.star2 {
    width: 2%;
    right: 2%;
    top: 56%;
}
/* PART 2 */
.part2 .lantern1 {
    width: 7%;
    left: -2%;
    top: -150%;
}
.part2 .cloud1 {
    width: 10%;
    top: 20%;
    left: -2%;
}
.part2 .star1 {
    width: 2%;
    left: 3%;
    top: 50%;
}

.part2 .lantern2 {
    width: 7%;
    right: 0%;
    bottom: 5%;
    right: -4%;
}
.part2 .cloud2 {
    width: 10%;
    right: -4%;
    bottom: 40%;
}
.part2 .star2 {
    width: 2%;
    right: 3%;
    top: 80%;
}
/* PART 3 */
.part3 .lantern1 {
    width: 10%;
    top: -150%;
}
.part3 .cloud1 {
    width: 10%;
    top: 10%;
    left: 10%;
}
.part3 .cloud3 {
    width: 10%;
    top: 40%;
    left: 15%;
}
.part3 .cloud4 {
    width: 10%;
    top: 70%;
    left: 10%;
}

.part3 .star1 {
    width: 2%;
    left: 15%;
    top: 20%;
}
.part3 .star3 {
    width: 2%;
    left: 25%;
    top: 50%;
}
.part3 .star4 {
    width: 2%;
    left: 5%;
    top: 80%;
}

.part3 .lantern2 {
    width: 7%;
    right: 0%;
    bottom: 5%;
    right: 0;
}
.part3 .cloud2 {
    width: 10%;
    right: 15%;
    bottom: 40%;
}
.part3 .cloud5 {
    width: 10%;
    right: 5%;
    top: 30%;
}
.part3 .cloud6 {
    width: 10%;
    right: 15%;
    top: 20%;
}
.part3 .star2 {
    width: 2%;
    right: 15%;
    top: 60%;
}
.part3 .star5 {
    width: 2%;
    right: 10%;
    top: 40%;
}
.part3 .star6 {
    width: 2%;
    right: 20%;
    top: 10%;
}

/* PART 4 */
.part4 .lantern1 {
    width: 5%;
    top: -40%;
    left: 20%;
    bottom: 0;
}
.part4 .cloud1 {
    width: 10%;
    top: 20%;
    left: 20%;
}
.part4 .star1 {
    width: 2%;
    left: 20%;
    top: 50%;
}

.part4 .lantern2 {
    width: 5%;
    bottom: 5%;
    right: 20%;
}
.part4 .cloud2 {
    width: 10%;
    right: 20%;
    bottom: 40%;
}
.part4 .star2 {
    width: 2%;
    right: 24%;
    top: 70%;
}

/* PART 5 */
.part5 .lantern1 {
    width: 5%;
    top: -20%;
    left: 20%;
    bottom: 0;
}
.part5 .cloud1 {
    width: 10%;
    top: 50%;
    left: 20%;
}
.part5 .star1 {
    width: 2%;
    left: 20%;
    top: 70%;
}

.part5 .lantern2 {
    width: 5%;
    bottom: 70%;
    right: 20%;
}
.part5 .cloud2 {
    width: 10%;
    right: 20%;
    bottom: 60%;
}
.part5 .star2 {
    width: 2%;
    right: 26%;
    top: 20%;
}

/* PART 6 */
.part6 .lantern1 {
    width: 10%;
    top: -100%;
    left: -5%;
    bottom: 0;
}
.part6 .cloud1 {
    width: 10%;
    top: 60%;
    left: 2%;
}
.part6 .star1 {
    width: 6%;
    left: -1%;
    top: 70%;
}

.part6 .lantern2 {
    width: 8%;
    bottom: 70%;
    right: -5%;
}
.part6 .cloud2 {
    width: 20%;
    right: -12%;
    bottom: 50%;
}
.part6 .star2 {
    width: 5%;
    right: 5%;
    top: 60%;
}

.img-85 {
    width: 85%;
}

.section2 {
    background-image: url(../assets/bg1b.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.img-camera {
    margin: 2rem;
    margin-top: 0.8rem;
    margin-bottom: 0px;
}
.img-tmrw {
    margin: 0.8rem;
    margin-bottom: 0px;
}
.card-column {
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 0px;
}

.res-mobile {
    width: 40%;
}
.res-mobile-bottom {
    width: 30%;
}

.btn-width {
    width: 60%;
}
.res-max-width {
    max-width: 50%;
}
.main {
    z-index: 9999999;
}
.blur {
    filter: brightness(0.5);
}
.left1 {
    left: 40%;
    z-index: 1;
    width: 28%;
}
.left2 {
    left: 43%;
    z-index: 0;
    width: 27%;
}
.right1 {
    right: 40%;
    z-index: 0;
    filter: brightness(0.5);
    width: 28%;
}

.carousel3 {
    padding: 0 10vw;
    max-width: 53%;
}

.carousel5 {
    padding: 0;
    max-width: 38%;
}

@media only screen and (max-width: 576px) {
    .res-mobile {
        width: 60%;
    }
    .res-mobile-35 {
        width: 35%;
    }
    .res-max-width {
        max-width: 100%;
    }
    .fs-12 {
        font-size: 50%;
    }
    .fs-14 {
        font-size: 90%;
    }
    .carousel3 {
        max-width: 95%;
    }
    .carousel5 {
        padding: 0;
        max-width: 95%;
    }
    .img-85 {
        width: 100%;
    }

    .lantern1 {
        width: 15%;
        left: 10%;
        top: -80%;
        left: -2%;
    }
    .cloud1 {
        width: 20%;
        left: -4%;
    }
    .star1 {
        left: 8%;
        width: 5%;
        top: 14%;
    }

    .lantern2 {
        width: 15%;
        right: 0%;
        bottom: 5%;
        right: -4%;
    }
    .cloud2 {
        width: 15%;
        right: -4%;
        bottom: 20%;
    }
    .star2 {
        width: 10%;
        right: -5%;
        bottom: 0;
    }

    .content-4 {
        width: 90%;
    }

    /* PART 2 */
    .part2 .lantern1 {
        width: 15%;
        left: -1%;
        top: 0;
    }
    .part2 .cloud1 {
        width: 20%;
        top: 20%;
        left: -4%;
    }
    .part2 .star1 {
        width: 8%;
        left: 7%;
        top: 25%;
    }

    .part2 .lantern2 {
        width: 15%;
        right: 0%;
        bottom: 5%;
        right: -4%;
    }
    .part2 .cloud2 {
        width: 20%;
        right: -5%;
        bottom: 40%;
    }
    .part2 .star2 {
        width: 8%;
        right: 3%;
        top: 50%;
    }

    /* PART 3 */
    .part3 .lantern1 {
        width: 15%;
        top: -60%;
    }
    .part3 .cloud1 {
        width: 15%;
        top: 10%;
        left: 10%;
    }
    .part3 .cloud3 {
        width: 15%;
        top: 40%;
        left: 15%;
    }
    .part3 .cloud4 {
        width: 15%;
        top: 70%;
        left: 10%;
    }

    .part3 .star1 {
        width: 5%;
        left: 15%;
        top: 20%;
    }
    .part3 .star3 {
        width: 5%;
        left: 10%;
        top: 30%;
    }
    .part3 .star4 {
        width: 5%;
        left: 5%;
        top: 50%;
    }

    .part3 .lantern2 {
        width: 15%;
        right: 0%;
        bottom: 35%;
        right: 0;
    }
    .part3 .cloud2 {
        width: 15%;
        right: 15%;
        bottom: 20%;
    }
    .part3 .cloud5 {
        width: 15%;
        right: 5%;
        top: 30%;
    }
    .part3 .cloud6 {
        width: 15%;
        right: 15%;
        top: 20%;
    }
    .part3 .star2 {
        width: 5%;
        right: 15%;
        top: 70%;
    }
    .part3 .star5 {
        width: 5%;
        right: 10%;
        top: 40%;
    }
    .part3 .star6 {
        width: 5%;
        right: 18%;
        top: 10%;
    }

    /* PART 4 */
    .part4 .lantern1 {
        width: 15%;
        top: -50%;
        left: -3%;
        bottom: 0;
    }
    .part4 .cloud1 {
        width: 20%;
        top: 74%;
        left: 0%;
    }
    .part4 .star1 {
        width: 5%;
        left: 5%;
        top: 85%;
    }

    .part4 .lantern2 {
        width: 15%;
        bottom: 85%;
        right: -5%;
    }
    .part4 .cloud2 {
        width: 20%;
        right: -4%;
        bottom: 40%;
    }
    .part4 .star2 {
        width: 5%;
        right: 5%;
        top: 30%;
    }

    /* PART 5 */
    .part5 .lantern1 {
        width: 15%;
        top: -100%;
        left: -5%;
        bottom: 0;
    }
    .part5 .cloud1 {
        width: 15%;
        top: 55%;
        left: 4%;
    }
    .part5 .star1 {
        width: 5%;
        left: 2%;
        top: 70%;
    }

    .part5 .lantern2 {
        width: 15%;
        bottom: 0%;
        right: -3%;
    }
    .part5 .cloud2 {
        width: 20%;
        right: 0%;
        bottom: 60%;
    }
    .part5 .star2 {
        width: 5%;
        right: 2%;
        top: 20%;
    }

    /* PART 6 */
    .part6 .lantern1 {
        width: 15%;
        top: -70%;
        left: -5%;
        bottom: 0;
    }
    .part6 .cloud1 {
        width: 20%;
        top: 55%;
        left: 4%;
    }
    .part6 .star1 {
        width: 5%;
        left: 2%;
        top: 70%;
    }

    .part6 .lantern2 {
        width: 15%;
        bottom: 0%;
        right: -3%;
    }
    .part6 .cloud2 {
        width: 20%;
        right: 0%;
        bottom: 60%;
    }
    .part6 .star2 {
        width: 5%;
        right: 2%;
        top: 20%;
    }
}

.section2 {
    background-image: url(../assets/bgsec2.png);
    display: block;
    background-size: cover;
    margin: auto;
    text-align: center;
}

.text1 {
    background-color: #f8ab2d;
    display: block;
    background-size: cover;
    margin: auto;
    text-align: center;
}

/* .section2 {
    background-image: url(../assets/bgsec2.png);
    display: block;
    background-size: cover;
    margin: auto;
    text-align: center;
} */

.text2 {
    background-color: #f8ab2d;
    display: block;
    background-size: cover;
    margin: auto;
    text-align: center;
}

/* .section3 {
    background-image: url(../assets/bgsec3.png);
    display: block;
    background-size: cover;
    margin: auto;
    text-align: center;
} */

.text3 {
    background-color: #f8ab2d;
    display: block;
    background-size: cover;
    margin: auto;
    text-align: center;
}

/* .section4 {
    background-image: url(../assets/bgsec4.png);
    display: block;
    background-size: cover;
    margin: auto;
    text-align: center;
} */
.w-100 {
    width: 100%;
}
.w-50 {
    width: 50%;
}
.action-info:hover {
    cursor: pointer;
}
.mt-5rm {
    margin-top: 5rem;
}
.mt-2rm {
    margin-top: 2rem;
}
.mt-1rm {
    margin-top: 1rem;
}
.mb-5rm {
    margin-bottom: 5rem;
}
.mb-2rm {
    margin-bottom: 2rem;
}

.carousel-container * {
    padding: 0;
    margin: 0;
    color: white;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
    font-weight: bold;
}

#toggleContainer label {
    text-align: center;
    width: 70px;
}

#container {
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
}

#toggleContainer {
    height: 10vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 95vw;
    position: absolute;
}

#tilesContainer {
    min-height: 90vh;
    width: 100vw;
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    align-content: center;
}

.tileItem {
    width: 250px;
    height: 250px;
    margin: 5px;
    border-radius: 5px;

    transition: all 0.5s ease;
}

.tileItem:hover {
    transform: scale(1.05);
    transition: all 0.5s ease;
}

#galleryContainer {
    /* height: 500px;
    width: 800px; */
    background: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    position: relative;
}

#toggle {
    height: 10vh;
    width: 200px;
    display: flex;
    align-items: center;
    margin: 10px;
}

#tilesView {
    min-height: 100vh;
    width: 100vw;
    background: rgb(246, 210, 106);
    background: linear-gradient(
        111deg,
        rgba(246, 210, 106, 1) 0%,
        rgba(255, 159, 0, 1) 52%,
        rgba(251, 197, 100, 1) 100%
    );
    display: none;
    justify-content: center;
    align-items: center;
}

#galleryView {
    /* height: 100vh;
    width: 100vw;
    background: rgb(246, 210, 106);
    background: linear-gradient(
        111deg,
        rgba(246, 210, 106, 1) 0%,
        rgba(255, 159, 0, 1) 52%,
        rgba(251, 197, 100, 1) 100%
    );
    display: flex;
    justify-content: center;
    align-items: center; */
}

#outer3 {
    width: 100px;
    height: 40px;
    background-color: white;
    margin: 10px auto;
    border-radius: 3px;
    border: 2px solid white;
    transition: all 0.5s;
}

#slider3 {
    height: 36px;
    width: 46px;
    background-color: #f8ab2d;
    border-radius: 3px;
    transition: all 0.5s;
}

#slider3.active {
    -webkit-transform: translatex(50px);
    -ms-transform: translatex(50px);
    -o-transform: translatex(50px);
    transform: translatex(50px);
    transition: all 0.5s;
    background-color: #f8ab2d;
}

#outer3.outerActive {
    background-color: white;
    border: 2px solid white;
    transition: all 0.5s;
}

#mainView {
    height: 450px;
    width: 450px;
    border-radius: 5px;
    background-color: #eb9100;
    margin-left: 10px;
    margin-right: 10px;
    z-index: 1;
    transition: all 1s;
}

#mainView:hover {
    /* transform: scale(1.2);
    transition: all 1s; */
}

#leftView {
    height: 400px;
    width: 150px;
    opacity: 0.5;
    border-radius: 5px;
    transform: skewy(5deg);
    transform-origin: top right;
    background-color: #eb9100;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s;
}

#leftView:hover {
    opacity: 1;
    transition: all 1s;
}

#rightView {
    height: 400px;
    width: 150px;
    opacity: 0.5;
    border-radius: 5px;
    transform: skewy(-5deg);
    transform-origin: top left;
    background-color: #eb9100;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s;
}

#rightView:hover {
    opacity: 1;
    transition: all 1s;
}

.navBtns {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: none;
    position: absolute;
    opacity: 0.8;
    background-color: transparent;
    cursor: pointer;
    color: white;
}

.navBtns:hover {
    opacity: 1;
    transition: all 1s;
    background-color: #eb9100;
}

#navLeft {
    left: 28%;
}

#navRight {
    right: 28%;
}

#linkTag {
    cursor: pointer;
    z-index: 1;
    box-sizing: border-box;
}

/* @media screen and (max-width: 250px) {

    .section1,
    .section2,
    .section3,
    .section4,
    .text1,
    .text2,
    .text3,
    img {
        width: 100%;
        height: auto;
    }
}  */
